{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'edit_space' | trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        <div class="entity-edit">
            {% include "_admin/space/_partials/space-edit-header.html.twig" %}

            <section class="entity-edit-content mt-4">
                {% set asterisk = '<span class="text-danger">*</span>' %}
                <span class="entity-mandatory-fields">{{ 'view.space-edit.mandatory_fields'|trans({'asterisco': asterisk})|raw }}</span>

                <div class="accordion accordion-flush accordion-cards mt-4" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                {{ 'presentation_information' | trans }}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <span class="responsive-size">{{ 'public_data_notice' | trans }}</span>
                                <hr>
                                {% include "_admin/space/_partials/forms/introduction.html.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if error is defined and error %}
                <div class="alert alert-danger mt-3">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
